# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env/

# Streamlit
.streamlit/

# Aplikasi Spesifik
# Mengabaikan folder assets agar gambar-gambar tes tidak ikut ter-commit ke git
assets/
*.png
*.jpg
*.jpeg
